.about-text h1{
    font-size:75px;
    color:white;
    text-transform:capitalize;
    margin-bottom: 20px;
    text-align:center;
}
.btn{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    font-stretch: expanded;
}

button{
	background-color:#f9004d;
	color: white;
    text-align:center;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: .4s; 
    
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}